{% extends 'PanelAdministrador/layout.html'%}
{% block content %}
<!--Content right-->
<div class="col-sm-9 col-xs-12 content pt-3 pl-0">
    <h5 class="mb-3" ><strong>Inicio</strong></h5>
    
    <!--Dashboard widget-->
    <div class="mt-1 mb-3 button-container">
        <div class="row pl-0">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <div class="bg-white border shadow">
                    <div class="media p-4">
                        <div class="align-self-center mr-3 rounded-circle notify-icon bg-theme">
                            <i class="far fa-images"></i>
                        </div>
                        <div class="media-body pl-2">
                            <h3 class="mt-0 mb-0"><strong>{{conteo.0.0}}</strong></h3>
                            <p><small class="text-muted bc-description">Publicaciones Totales</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <div class="bg-white border shadow">
                    <div class="media p-4">
                        <div class="align-self-center mr-3 rounded-circle notify-icon bg-danger">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="media-body pl-2">
                            <h3 class="mt-0 mb-0"><strong>{{conteo.1.0}}</strong></h3>
                            <p><small class="text-muted bc-description">Usuarios Activos</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                <div class="bg-theme border shadow">
                    <div class="media p-4">
                        <div class="align-self-center mr-3 rounded-circle notify-icon bg-black">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <div class="media-body pl-2">
                            <h3 class="mt-0 mb-0"><strong>{{conteo.2.0}}</strong></h3>
                            <p><small class="bc-description text-white">Publicaciones Ult. Semana</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Dashboard widget-->

    <div class="row mt-3">
                
        <div class="col-sm-12">
            <!--Revenue Graph-->
            <div class="mt-1 mb-3 button-container bg-white border shadow-sm p-3">
                <h6 class="mb-3">Publicaciones Mensuales</h6><hr>

                <div class="ct-chart" id="costRevenue"  style="height: 350px;"></div>

            </div>
            <!--/Revenue Graph-->
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-6">
            <!--Pie Chart-->
            <div class="mt-1 mb-3 p-3 button-container  bg-white shadow-sm border">
                <h6>Porcentaje de Usuarios por genero</h6>
                
                <canvas id="pieChart" height="150px"></canvas>
            </div>
            <!--/Pie Table-->
        </div>
        <div class="col-sm-6">
            <!--Pie Chart-->
            <div class="mt-1 mb-3 p-3 button-container  bg-white shadow-sm border">
                <h6>Porcentaje de publicaciones por genero</h6>
                
                <canvas id="pieChartPublicacionesPorgGenero" height="150px"></canvas>
            </div>
            <!--/Pie Table-->
        </div>
    </div>

    </div>
{% endblock %}
                