@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

body{
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);

}
.navbar{
    font-size: large;
}
.linkimgprofilenav{
    border-radius: 30%;

}
a{
    cursor: pointer;
}
.active{
    font-weight: bold;
}
.containerpublic{
    padding-top: 100px;
}

#btneditprofile{
    border-radius: 10%;
    font-weight: bold;
}
#btneditprofile:hover{
    background: #17B2E3;
    color: white;
}
.publications{
    
    padding-top: 10px;
}
.containerpublics{
    text-align: center;
}

@media (max-width:440px) {
    .linkimgprofilenav{
        border-radius: 30%;
        width: 50px;
        height: 50px;
    }
}

.dark-theme{
    background: black;
    color: white;
}